body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.addButton {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: blue;
    border-radius: 50%;
    padding: 1rem;
    font-size: 2rem;
    margin: 1rem;
}

.main-book-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1.4rem;
}

.book-container {
    border: 1px solid black;
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
    width: 20%;
    padding: 1.1rem;
    border-radius: 10px;
    transition: all 0.3ms;
    justify-items: center;
}

.book-container:hover {
    scale: 1.1;
}

.book-container p {
    font-size: 1.3rem;
}

form {
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr;
    row-gap: 10px;
    padding: 0.4rem;
}

input:valid {
    border: 1px solid green;
}

input:invalid {
    border: 1px solid red;
}

.allPelements {
    margin: 0;
    font-size: 1.1rem;
    font-family: monospace;
}

header #heading-title {
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
    background-color: black;
    color: red;
    padding: 0.5rem;
    text-align: center;
    font-size: 2.5rem;
}

.delete-content {
    width: 30px;
    height: auto;
    cursor: pointer;
    align-self: center;
}