body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.addButton {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: blue;
    border-radius: 50%;
    padding: 1rem;
    font-size: 2rem;
    margin: 1rem;
}

.main-book-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1.4rem;
    justify-content: center;
}

.book-container {
    border-left: 8px solid rebeccapurple;
    display: grid;
    width: clamp(250px, 20%, 450px);
    padding: 1.1rem;
    border-radius: 10px;
    transition: all 0.3s;
    margin: 1rem;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

.book-container:hover {
    scale: 1.1;
}

.book-container p {
    font-size: 1.2rem;
    padding: 0.5rem;
    color: red;
    font-family: monospace;
    font-weight: 700;
    background-color: black;
    text-align: center;
}

form {
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr;
    row-gap: 10px;
    padding: 0.4rem;
}

input:valid {
    border: 1px solid green;
}

input:invalid {
    border: 1px solid red;
}

.allPelements {
    margin: 0;
    font-size: 1.1rem;
    font-family: monospace;
}

header #heading-title {
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
    background-color: black;
    color: red;
    padding: 0.5rem;
    text-align: center;
    font-size: 2.5rem;
}

.delete-content {
    width: 30px;
    cursor: pointer;
    align-self: center;
    background-color: red;
    border-radius: 50%;
    padding: 0.7rem;
    justify-self: center;
}

.delete-content:hover {
    animation: mymove 1s 1;
}

#choice {
    width: 20%;
    accent-color: coral;
    justify-self: right;
    font-size: 2rem;
}

@keyframes mymove {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}